.header{
    width: 100%;
    background-color: hsl(0, 0%, 18%);
    height: 200px;
    position: relative;

    &__paragraph{
        color: white;
        font-family: Poppins;
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
        padding: 120px 0;
    }

}